* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.twi-box.twi-box-warning {
    border-top-color: #f39c12;
}

.twi-box {
    -webkit-box-sizing: border-twi-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.twi-box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.twi-box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.twi-box-header .twi-box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.twi-box-header>.twi-box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.twi-btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.twi-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.twi-btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.twi-pull-right {
    float: right;
}

.twi-pull-left {
    float: left;
}

.twi-direct-chat .twi-box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.twi-box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.twi-direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform .5s ease-in-out;
    padding: 10px;
    height: 250px;
    overflow: auto;
}

.twi-direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.twi-direct-chat-timestamp {
    color: #999;
}

.twi-direct-chat-name {
    font-weight: 600;
}

.twi-direct-chat-msg {
    display: block;
    margin-bottom: 10px;
}

.twi-direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
    display: block;
}

.twi-notify-member-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    color: #444;
    display: block;
}

.twi-direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}

.right>.twi-direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #fff;
}

.twi-direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}

.twi-direct-chat-text:after,
.twi-direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.twi-box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.twi-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.twi-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.twi-input-group-btn:last-child>.twi-btn,
.twi-input-group-btn:last-child>.twi-btn-group>.twi-btn,
.twi-input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.twi-input-group .twi-form-control,
.twi-input-group-addon,
.twi-input-group-btn {
    display: table-cell;
}

.twi-input-group .twi-form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.twi-input-group-addon,
.twi-input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.twi-input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.twi-input-group-btn:last-child>.twi-btn,
.twi-input-group-btn:last-child>.twi-btn-group {
    z-index: 2;
    margin-left: -1px;
}
